@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #35424a;
    margin: 0px;
    font-family: "Martian mono", monospace;

}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: underline
}

.röd_T {
    color: #e8491d;
}

.vit_T {
    color: aliceblue;
}

.toppen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85px;

    border-bottom: 3px solid #e8491d;

}

.nav {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}

.övre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(./img/showcase\ \(2\).jpg);
    background-size: cover;
    background-position: 0px;
    height: 400px;
}


#rubrik {
    font-size: 3em;
    margin-bottom: 8px;
    text-align: center;

}

#text {
    width: 80%;
    text-align: center;
    font-size: large;
    font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
}

.mellan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    border-top:3px solid #e8491d;


}

.knappar {
    width: 33%;
}

input {
    height: 20px;
    width: 70%;
    font-family: "Roboto", monospace;
}

button {
    background-color: #e8491d;
    color: aliceblue;

    border: none;
    border-radius: 2px;
    height: 26px;
    width: 25%;

    font-family: "Roboto", monospace;
    letter-spacing: 1px;
}

button:hover {
    background-color: #d8390d;
}

button:active {
    background-color: #f8592d;
}

.undre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color:#eeeeee;
    
}

.boxes{
    max-width: 20%;
    text-align: center;
    font-size: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.loga{
    max-width: 40%;
}

.under_rubrik{
   font-family: "Roboto", monospace;
}

.sidfot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8491d;
    color: aliceblue;
    height: 50px;
    font-family: "Roboto", monospace;
    font-size: 13px;
}



